
<html>
  <head>
   <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Arvo">
   <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Archivo+Narrow|Arvo">
 </head>

<h1 style="color:#a83301; font-family: 'Arvo', serif; font-size: 36px;">New Book</h1>

<%= render 'form', book: @book %>

<div class="btn"><%= link_to 'Back', books_path %></div>
